In [ ]:
import numpy as np

a = np.array([1,2,3])
b = np.array([4,5,6])
hasil = a + b
print("hasil:", hasil)

hasil: [5 7 9]

In [ ]:
import numpy as np
def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first + second)
  return result
a =  [1,2,3]
b =  [4,5,6]
print(add(a,b))

[5, 7, 9]

In [ ]:
def add(list_a, list_b):
  result = []
  x=0
  for first, second in zip(list_a, list_b):
    result.append(first + second)
  for i in result:
    x+=i
  return x
a =  [1,2,3]
b =  [4,5,6]
print(add(a,b))

21

In [ ]:
import numpy as np
# membuat array
nilai_siswa = np.array([85, 55, 40, 90])
# mengakses data pada array
print(nilai_siswa[3])

90

In [ ]:
import numpy as np
print(np.__version__)

2.0.2

In [ ]:
print("Hello Universe!!!")
nama = input("Input your name: ")
nim = input("Input your NIM: ")
print("My Name", nama)
print("My NIM", nim)

Hello Universe!!!
Input your name: Zaky Naufal Saleh
Input your NIM: 2024071008
My Name Zaky Naufal Saleh
My NIM 2024071008

In [ ]:
if 5>2:
  print("FIve is greater than two")

FIve is greater than two

In [ ]:
x = 5
y = "Obama"
print(x)
print(y)

5
Obama

In [ ]:
x = 4
x = "Abang Sally"
print(x)

Abang Sally

In [ ]:
def getFirst(myList):
    return myList[0]

def getSecond(myList):
    return myList[1]

def getLast(myList):
    return myList[-1]

print(getFirst([1,2,3]))
print(getSecond([10,20,30]))
print(getLast([1,2,3,4,5]))

1
20
5

In [ ]:
def getFirst(myList):
    return myList[0]

def getSecond(myList):
    return myList[1]

def getLast(myList):
    return myList[-1]

print(getFirst([1,2,3]))
print(getSecond([10,20,30]))
print(getLast([1,2,3,4,5]))

In [5]:
def getSum(myList):
  sum = 0
  for item in myList:
      sum = sum+item
  return sum

getSum([1,2,3,4])
10

10

In [10]:
def get_kali(seq):
  hasil = 1
  for x in seq:
    hasil *= x
  return hasil

print(get_kali([1,2,3]))
print(get_kali([3,4,12]))
print(get_kali([]))

6
144
1

In [16]:
def get_bagi(div):
  if not div:
    return 0

  hasil = div[0]
  for x in div[1:]:
    hasil /= x
  return hasil

print(get_bagi([144,12,6]))
print(get_bagi([81,9,3]))
print(get_bagi([]))

2.0
3.0
0

In [17]:
def get_Sum(myList):
  sum = 0
  for row in myList:
    for item in row:
        sum += item
  return sum

get_Sum([[1,2,5],[3,4,7]])

22

In [20]:
def get_Bagi(myList):

    sum1 = sum(myList[0])

    sum2 = sum(myList[1])

    if sum2 == 0:
        return None
    return sum1 / sum2

print(get_Bagi([[144, 12], [6]]))
print(get_Bagi([[81, 9], [3]]))

26.0
30.0

In [22]:
def get_Kurang(myList):
    sum1 = sum(myList[0])
    sum2 = sum(myList[1])
    return sum1 - sum2

print(get_Kurang([[1,2,5],[3,4,7]]))
print(get_Kurang([[10,20],[5,3]]))

-6
22